@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}
@font-face {
  font-family: "damn";
  src: url("../font/DAMN.ttf");
}
@font-face {
  font-family: "Generation-Mono";
  src: url("../font/Generation-Mono.otf");
}
@font-face {
  font-family: "BasementGrotesque-Black";
  src: url("../font/BasementGrotesque-Black.otf");
}

.damn {
  font-family: "damn";
}
.GM {
  font-family: "Generation-Mono";
}
.BGB {
  font-family: "BasementGrotesque-Black";
}

/* mainText */
.textStroke2 {
  color: white;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.textStroke {
  color: black;
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
}

/* .textStroke2:hover + .textStroke {
  color: white;
} */
.activeHover {
  animation: animate 0.5s ease-in-out normal forwards;
}
.nonActiveHover {
  animation: animateBack 0.5s ease-in-out normal forwards;
}
@keyframes animate {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }

  100% {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}
@keyframes animateBack {
  0% {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }

  100% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
}
