@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  overflow-x: hidden;
} */
body {
  @apply bg-[#1C1C20]  overflow-x-hidden;
}
@font-face {
  font-family: "damn";
  src: url("../font/DAMN.ttf");
}
@font-face {
  font-family: "Generation-Mono";
  src: url("../font/Generation-Mono.otf");
}
@font-face {
  font-family: "BasementGrotesque-Black";
  src: url("../font/BasementGrotesque-Black.otf");
}

.damn {
  font-family: "damn";
}
.GM {
  font-family: "Generation-Mono";
}
.BGB {
  font-family: "BasementGrotesque-Black";
}

/* mainText */
.textStroke2 {
  color: #e8eddf;
  -webkit-text-fill-color: #e8eddf; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1c1c20;
}

.textStroke {
  color: #1c1c20;
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
}

/* .textStroke2:hover + .textStroke {
  color: white;
} */
.activeHover {
  animation: animate 0.5s ease-in-out normal forwards;
}
.nonActiveHover {
  animation: animateBack 0.5s ease-in-out normal forwards;
}
@keyframes animate {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }

  100% {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}
@keyframes animateBack {
  0% {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }

  100% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
}
/* project text */
.textStroke4 {
  color: #ffffff;
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
}
.textStroke3 {
  color: #1c1c20;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
}
/* scroll rev */
.textStroke5 {
  color: #ffffff;
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
}
.textStroke6 {
  color: #ffffff;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #1c1c20;
}
.sha2 {
  clip-path: circle(0% at 50% 50%);
}
.glow {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* top: calc(50% - 20px);
  left: calc(50% - 20px); */

  border-radius: 50%;
  background-color: #feae96;
  box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #feae96, 0 0 140px 90px #fe0944;
}
.sc {
  transform: scale(35);
}
.bg {
  background-color: #feae96;
  background-image: linear-gradient(315deg, #feae96 0%, #fe0944 74%);
}
.blackText {
  color: #1c1c20;
}
