@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  overflow-x: hidden;
}
@font-face {
  font-family: "damn";
  src: url("../font/DAMN.ttf");
}
@font-face {
  font-family: "Generation-Mono";
  src: url("../font/Generation-Mono.otf");
}
@font-face {
  font-family: "BasementGrotesque-Black";
  src: url("../font/BasementGrotesque-Black.otf");
}

.damn {
  font-family: "damn";
}
.GM {
  font-family: "Generation-Mono";
}
.BGB {
  font-family: "BasementGrotesque-Black";
}

/* mainText */
.textStroke2 {
  color: #e8eddf;
  -webkit-text-fill-color: #e8eddf; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #242423;
}

.textStroke {
  color: #242423;
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
}

/* .textStroke2:hover + .textStroke {
  color: white;
} */
.activeHover {
  animation: animate 0.5s ease-in-out normal forwards;
}
.nonActiveHover {
  animation: animateBack 0.5s ease-in-out normal forwards;
}
@keyframes animate {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }

  100% {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
}
@keyframes animateBack {
  0% {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }

  100% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
}
/* project text */
.textStroke4 {
  color: #f4f4f4;
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
}
.textStroke3 {
  color: #000000;
  -webkit-text-fill-color: #000000; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f4f4f4;
}
/* scroll rev */
.textStroke5 {
  color: #f4f4f4;
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
}
.textStroke6 {
  color: #cfdbd5;
  -webkit-text-fill-color: #cfdbd5; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}
.sha2 {
  clip-path: circle(0% at 50% 50%);
}
.glow {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #db0138;
  box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #ff0000, 0 0 140px 90px #ff7b7b;
}
.sc {
  transform: scale(35);
}
